/*contact form homepage*/

.form_container
{
	background: #0484A4;
	border-radius: 20px;
	width: 400px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-right: 20px;
	margin-top: 50px;
}

.form_title
{
	font-size: 1em;
	margin-left: 10px;
	color: white;
	margin-bottom: 30px;
}

.input_lastname
{
	margin-left: 43px;
}

.input_name
{
	margin-left: 13px;
}


.input_mail
{
	margin-left: 47px;
}

.textarea_message
{
	margin-left: 14px;
}

.contact_form_container_textarea
{
	display: flex;
}

.contact_form
{
	color: white;
}

.contact_form button
{
	margin-left: 130px; 
	margin-top: 10px;
	margin-bottom: 5px;

}


/*connexion form*/

.connexion_form_container
{
	background: #0484A4;
	border-radius: 20px;
	width: 500px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-right: 20px;
	margin-top: 50px;
}

.connexion_form_title
{
	font-size: 1em;
	margin-left: 10px;
	color: white;
	margin-bottom: 30px;
}

.connexion_form_input_password
{
	margin-left: 12px;
}

.connexion_form_input_mail
{
	margin-left: 94px;
}

.connexion_form
{
	color: white;
}

.connexion_form_container_input_password
{
	margin-top: 10px;
}

.connexion_form button
{
	margin-left: 160px; 
	margin-top: 10px;
	margin-bottom: 5px;
}

/* post creation form */

.post_form_container
{
	background: #0484A4;
	border-radius: 20px;
	width: 600px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-right: 20px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.post_form_title
{
	font-size: 1em;
	margin-left: 10px;
	color: white;
	margin-bottom: 30px;
}

.post_form_input_post_title
{
	margin-left: 62px;
}

.post_form_input_post_subtitle
{
	margin-left: 13px;
}

.post_form_input_post_topic
{
	margin-left: 62px;
}

.post_form_textarea_content
{
	margin-left: 32px;
	width: 233px;
}

.post_form_container_textarea
{
	display: flex;
}

.post_form
{
	color: white;
}

.post_form button
{
	margin-left: 130px; 
	margin-top: 10px;
	margin-bottom: 5px;
}

/* post modification form*/

.post_modification_form_container
{
	background: #0484A4;
	border-radius: 20px;
	width: 900px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-right: 20px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.post_modification_form_title
{
	font-size: 1em;
	margin-left: 10px;
	color: white;
	margin-bottom: 30px;
}

.post_modification_form_input_post_title
{
	margin-left: 62px;
	width: 610px;
}

.post_modification_form_input_post_subtitle
{
	margin-left: 13px;
	width: 610px;
}

.post_modification_form_input_post_topic
{
	margin-left: 62px;
	width: 610px;
}

.post_modification_form_textarea_content
{
	margin-left: 32px;
	width: 610px;
	height: 700px;
}

.post_modification_form_container_textarea
{
	display: flex;
}

.post_modification_form
{
	color: white;
}

.post_modification_form button
{
	margin-left: 390px; 
	margin-top: 10px;
	margin-bottom: 5px;
}



